@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    .btn {
        border-radius: 4px;
        letter-spacing: 1px;
        font-size: 0.9em;
    }

    .btn-blue-gradient {
        color: white;
        background: linear-gradient(90deg, rgba(77,97,196,1) 36%, rgba(61,172,237,1) 100%);
    }

    .btn-outline-blue {
        border: 1px solid #4D61C4;
        color: #4D61C4;
        background: transparent;
    }

    .cta-shadow {
        box-shadow: -15px 30px 60px 2px rgba(77, 97, 196, 0.2);
    }

    @variants responsive {
        .w-cta {
            width: 770px;
        }

        .h-770 {
            height: 779px;
        }

        .stroke-white {
            -webkit-text-stroke: 0.5px #f3f3f3; /* width and color */
        }
    }

    @variants hover {
        .bg-blue-gradient {
            color: white;
            background: linear-gradient(90deg, rgba(77,97,196,1) 36%, rgba(61,172,237,1) 100%);
        }

        .border-primary {
            border-color: #3E64FF;
        }

        .shadow-primary {
            box-shadow: -15px 30px 60px 2px rgba(77, 97, 196, 0.2);
        }
    }
}

.input-form {
    @apply bg-black;
}